{% extends 'base.html.twig' %}

{% block title %}Category {{category.getCode()}} details{% endblock %}

{% block body %}
<div class="container">
    <div class="card">
        <div class="card-header">
            <h1>Name: </h1>Category {{category.getCode()}} details 
        </div>
        <div class="card-body">
            <div class="mb-3">Name: {{category.getCode()}}</div>
            <div class="mb-3">
                Products:
                <ul   class="list-unstyled">
                {% for product in category.getProducts() %} 
                    <li class="list-item">
                        <span>{{ product.getName() }}</span>
                        <a href="{{ path('products_show', { id: product.getId() }) }}">View</a>
                    </li>
                {% endfor %}
                <ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
