{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}
<div class="container">
    {# <h1>Products list:</h1> #}
    <table class="table table-striped table-bordered table-hover table-sm">
    <caption>List of Products</caption>
        <thead  class="thead-dark">
            <tr>
                <th scope="col">lp.</th>
                <th scope="col">name</th>
                <th scope="col">price</th>
                <th scope="col">categories</th>
                <th scope="col">actions</th>
            </tr>
        </thead>
        <tfoot  class="thead-dark">
            <tr>
                <th>lp.</th>
                <th>name</th>
                <th>price</th>
                <th>categories</th>
                <th>actions</th>
            </tr>
        </tfoot>
        <tbody>
        {% for key, product in products %}
        <tr scope="row">
            <td>{{key+1}}</td>
            <td>{{ product.getName() }}</td>
            <td>{{ product.getPrice()}}</td>
            <td>
                <ul class="list-unstyled">
                    {% for category in product.getCategory() %}
                        <li>
                            <a 
                            href="{{path('categories_show', {id:category.getId()})}}"  class="text-info stretched-link">
                            {{category.getCode()}}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </td>
            <td>
                <a 
                href="{{ path('products_show', { id: product.getId() }) }}" 
                class="btn btn-outline-primary">View</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
